<mat-sidenav-container fxFlexFill class="mat-typography">
    <mat-sidenav [opened]="opened" fxLayout="column" color="primary" [mode]="isLargeScreen() ? 'side' : 'over'">
        <mat-nav-list>
           
            <ng-container *ngIf="sidenavItems; else noSidenavItems">
                <ng-container *ngFor="let item of sidenavItems">
                    <a (click)="toggle()" mat-list-item [routerLink]="item.routerPath">
                    <mat-icon class="sidenav--icon" matListIcon>{{ item.iconName }}</mat-icon>
                    {{ item.title }}
                    </a>
                </ng-container>
            </ng-container>
        
            <ng-template #noSidenavItems>
                No sidenav items.
            </ng-template>

        </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content fxFlex>
      <div fxFlexFill>
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>